<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <h2>Add a New Course</h2>
    <%= simple_form_for current_course, url: instructor_course_path(current_course) do |f| %>

      <% if current_course.errors.any? %>
        <%= render 'new_course_input_errors' %>
      <% end %>

      <%= f.input :title, error: "!" %>
      <%= f.input :description, error: "!" %>
      <%= f.input :image %>
      <%= f.input :cost, error: "!" %>
      <br />
      <%= f.submit 'Edit Course', class: 'btn bg-button' %>
      <br />
    <% end %>
    <br />
  </div>
</div>
