<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <pre class="text-center">Instructor View</pre>
    <span class="badge badge-pill badge-success"><%= link_to 'Student View', course_path(current_course), class: 'bg-black' %></span>
    <span class="badge badge-pill badge-danger"><%= link_to 'Edit Course', edit_instructor_course_path(current_course), class: 'bg-black' %></span>
    <h2 class="text-center">
      <%= current_course.title %>
    </h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <%= image_tag current_course.image, class: 'img-fluid margin-below-course-image course-image-border-shadow' %>
      </div>
      <div class="col-12 col-md-8">
        <%= current_course.description %>
        <span class="badge badge-pill badge-default"><%= "#{number_to_currency current_course.cost}" %></span>
      </div>
    </div>
      <br />
      <ul class="no-ul-padding">
        <div class="row">
          <% current_course.sections.each do |section| %>
          <div class="col-md-3 col-12 text-center">
          <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'btn bg-button btn-course-nobreak' %>
          </div>
          <br />
          <br />
          <div class="col-md-9 col-12">
            <li>
              &laquo;<%= section.title %>&raquo;
                <ol>
                  <% section.lessons.rank(:row_order).each do |lesson| %>
                  <li>
                    <b><%= lesson.title %></b>
                    <br />
                    <%= lesson.subtitle %>
                  </li>
                  <% end %>
                </ol>
              <br class="clr" />
            </li>
          </div>
          <% end %>
      </div>
      </ul>

      <br />
      <strong><%= link_to '+ Add a Section to this Course', new_instructor_course_section_path(current_course), class: 'bg-black'%></strong>
  </div>
  <br />
</div>
