<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <pre class="text-center">Instructor View</pre>
    <span class="badge badge-pill badge-success"><%= link_to 'Student View', course_path(current_course), class: 'bg-black' %></span>
    <span class="badge badge-pill badge-danger"><%= link_to 'Edit Course', edit_instructor_course_path(current_course), class: 'bg-black' %></span>
    <h2 class="text-center">
      <%= current_course.title %>
    </h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <%= image_tag current_course.image, class: 'img-fluid margin-below-course-image course-image-border-shadow' %>
      </div>
      <div class="col-12 col-md-8">
        <%= current_course.description %>
        <span class="badge badge-pill badge-default"><%= "#{number_to_currency current_course.cost}" %></span>
      </div>
    </div>

      <div class="add-section"><%= link_to '+ Add a Section to this Course', new_instructor_course_section_path(current_course), class: 'bg-black'%></div>
      <br />

      <ul class="no-ul-padding sections">
        <!-- <div class="row"> -->
          <% current_course.sections.rank(:row_order).each do |section| %>
          <!-- <div class="col-12"> -->

            <li data-update-url="<%= instructor_section_path(section) %>" class="section-borders">
              <span class="fa fa-ellipsis-v sectiondrag"></span>
              <h3 class="text-center">
                <%= section.title %>
                <%= link_to '<span class="fa fa-plus-circle"></span> Lesson'.html_safe, new_instructor_section_lesson_path(section), class: 'bg-black h6' %>
              </h3>
                <ol class="lessons">
                  <% section.lessons.rank(:row_order).each do |lesson| %>
                  <li data-update-url="<%= instructor_lesson_path(lesson) %>" class="lesson height-for-sorting">
                    <span class="fa fa-ellipsis-v lessondrag"></span>
                    <b><%= lesson.title %></b>
                    <hr />
                    <%= lesson.subtitle %>
                  </li>
                  <% end %>
                </ol>
              <br class="clr" />
            </li>

          <!-- </div> -->
          <% end %>
        <!-- </div> -->
      </ul>
      <!-- <br /> -->

  </div>
  <br />
</div>
<script>
  $(function() {
    $('.sections').sortable({
      placeholder: 'sortable-section-placeholder',
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.lessons').sortable({
      placeholder: 'sortable-lesson-placeholder',
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>
