<div class="container bg-gold">
  <div class="col-10 offset-1 expand-width-on-mobile">
    <br />
    <pre class="text-center">Instructor View</pre>
    <span class="badge badge-pill badge-success"><%= link_to 'Student View', course_path(current_course), class: 'bg-black' %></span>
    <span class="badge badge-pill badge-danger"><%= link_to 'Edit Course', edit_instructor_course_path(current_course), class: 'bg-black' %></span>
    <h2 class="text-center">
      <%= current_course.title %>
    </h2>

    <div class="row">
      <div class="col-12 col-md-4">
        <%= image_tag current_course.image, class: 'img-fluid margin-below-course-image course-image-border-shadow' %>
      </div>
      <div class="col-12 col-md-8">
        <%= current_course.description %>
        <span class="badge badge-pill badge-default"><%= "#{number_to_currency current_course.cost}" %></span>
      </div>
    </div>

    <div class="add-section">
      <!-- NEW SECTION Button trigger modal -->
      <button type="button" class="btn btn-course" data-toggle="modal" data-target="#newSectionModal">
        Add Section
      </button>
    </div>

    <br />

    <ul class="no-ul-padding sections">
      <!-- <div class="row"> -->
      <% current_course.sections.rank(:row_order).each do |section| %>
      <!-- <div class="col-12"> -->
        <li data-update-url="<%= instructor_section_path(section) %>" class="section-borders">
          <span class="fa fa-ellipsis-v sectiondrag"></span>
          <h3 class="text-center">
            <%= section.title %>
            <!-- NEW LESSON Button trigger modal -->
            <button type="button" class="btn btn-sm bg-button h6 new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
              + Lesson
            </button>
            <!-- END Button -->
          </h3>
          <ol class="lessons">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <li data-update-url="<%= instructor_lesson_path(lesson) %>" class="lesson height-for-sorting">
                <span class="fa fa-ellipsis-v lessondrag"></span>
                <b><%= lesson.title %></b>
                <hr />
                <%= lesson.subtitle %>
              </li>
            <% end %>
          </ol>
          <br class="clr" />
        </li>
      <% end %>
    </ul>

  </div>

  <br />

</div>


<!-- Section Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSectionModalLabel">Add a Section to <%= current_course.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |section| %>
        <div class="modal-body">
          <%= section.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%= section.submit 'Add Section', class: 'btn bg-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Lesson Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="newLessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newLessonModalLabel">Add a Lesson to (SECTION NAME)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @lesson, url: "#", html: {id: 'newLessonForm' } do |lesson| %>
        <div class="modal-body">
          <%= lesson.input :title %>
          <%= lesson.input :subtitle %>
          <%= lesson.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%= lesson.submit 'Add Lesson', class: 'btn bg-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.sections').sortable({
      placeholder: 'sortable-section-placeholder',
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.lessons').sortable({
      placeholder: 'sortable-lesson-placeholder',
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });

    $( ".new-lesson-button" ).click(function( event ) {
      var lessonUrl = ($(event.target).data('lesson-url'));
      $('#newLessonForm').attr('action', lessonUrl);
    });

  });
</script>
