<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <%= link_to "&laquo; Back to #{current_lesson.section.course.title}".html_safe, course_path(current_lesson.section.course), class: 'bg-black' %>
    <br /><br />
    <h2><%= current_lesson.section.title %>: <%= current_lesson.title %></h2>
    <%= current_lesson.subtitle %>
    <% if current_lesson.next_lesson.present? %>
      <%= link_to lesson_path(current_lesson.next_lesson), class: 'float-right btn btn-sm btn-course' do %>
        <strong>Next Lesson</strong>&nbsp;<i class="fa fa-forward" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <video id="my-video" class="video-js vjs-big-play-centered vjs-fluid" controls preload="auto" poster="<%= image_path('hero-med.jpg') %>" data-setup="{}">
      <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
      <!--
      This line allows browsers to choose formats, but since we aren't hosting a file with this extension, it has been disabled.
      <source src="MY_VIDEO.webm" type='video/webm'>
      -->
      <noscript>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </noscript>
    </video>
    <br />
  </div>
</div>
