<div class="container bg-gold">
  <div class="col-10 offset-1 expand-width-on-mobile">
    <br />
    <h2 class="text-center">Dashboard for <%= current_user.email.split('@')[0] %>:</h2>
    <div class="text-center">Current Enrollments:</div>
    <% if current_user.enrolled_courses[0].nil? %>
      <p>You are not enrolled in any courses.</p>
    <% else %>
      <% current_user.enrolled_courses.each do |course| %>

        <h3 class="course-title-centeronsmall">
          <%= link_to course.title, course_path(course), class: 'course-title' %>
        </h3>
          <div class="row">
            <div class="col-sm-4 col-12">
              <%= link_to course_path(course) do %>
                <%= image_tag course.image, class: 'img-fluid course-image-border-shadow margin-below-course-image' %>
                <% if course.image.present? %>
                  <h4 class="on-small-image-overlay">
                    <span>
                      Click for Course Details
                    </span>
                  </h4>
                <% end %>
              <% end %>
            </div>
            <div class="col-sm-8 col-12">
              <p><%= course.description %></p>
              <p><%= link_to 'More Info &raquo;'.html_safe, course_path(course), class: 'btn btn-course' %></p>
            </div>
          </div>
          <hr/>
      <% end %>
    <% end %>
    <div class="text-center">Courses I'm Teaching:</div>
    <% if current_user.courses[0].nil? %>
      <p>You are not teaching any courses.</p>
    <% else %>
      <% current_user.courses.each do |course| %>
        <h3 class="course-title-centeronsmall">
          <%= link_to course.title, course_path(course), class: 'course-title' %>
        </h3>
        <div class="row">
          <div class="col-sm-4 col-12">
            <%= link_to course_path(course) do %>
              <%= image_tag course.image, class: 'img-fluid course-image-border-shadow margin-below-course-image' %>
              <% if course.image.present? %>
                <h4 class="on-small-image-overlay">
                  <span>
                    Click for Course Details
                  </span>
                </h4>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-8 col-12">
            <p><%= course.description %></p>
            <p><%= link_to 'More Info &raquo;'.html_safe, course_path(course), class: 'btn btn-course' %></p>
          </div>
        </div>
        <hr />
      <% end %>
    <% end %>
  </div>
</div>
