<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <div>
      <%= link_to '&laquo; Back to Courses'.html_safe, courses_path, class: 'bg-black' %>
    </div>
    <br />
    <h2 class="text-center">
      <%= @course.title %>
    </h2>
    <div class="row">
      <div class="col-sm-4 col-12 text-center">
        <%= image_tag @course.image, class: 'img-fluid course-image-border-shadow margin-below-course-image' %>
        <% if @course.image.present? %>
        <h4 class="h4-image-overlay">
          <span>
            Taught by <%= @course.user.email[0..2] + '...' %>
          </span>
        </h4>
        <% end %>
      </div>
      <div class="col-sm-8 col-12">
        <%= @course.description %>
        <span class="badge badge-pill badge-default">
          <% if @course.cost == 0 %>
            FREE
          <% else %>
            <%= "#{number_to_currency @course.cost}" %>
          <% end %>
        </span>

        <div class="bg-black">
<!-- Condition for instructor page access -->
        <% if current_user && current_user == @course.user %>
        <span class="badge badge-pill badge-success">
        <%= link_to 'Course Admin', instructor_course_path(@course) %>
        </span>
        <% end %>
<!-- END condition -->
        </div>

      </div>
    </div>
    <div class="col-12">
      <% @course.sections.each do |section| %>
        <div class="section">
          <h3><%= section.title %></h3>
              <div class="lesson">
                <ol>
                <% section.lessons.each do |lesson| %>
                  <li>
                    <%= link_to lesson_path(lesson), class:'bg-black' do %>
                      <b><%= lesson.title %></b>
                      <br />
                      <%= lesson.subtitle %>
                      <br />
                    <% end %>
                  </li>
                <% end %>
                </ol>
              </div>
        </div>
      <% end %>
    </div>
    <br />
  </div>
</div>
