<div class="container bg-gold">
  <div class="col-10 offset-1 expand-width-on-mobile">
    <br />
    <div>
      <%= link_to '&laquo; Back to Courses'.html_safe, courses_path, class: 'bg-black' %>
    </div>
    <br />
    <h2 class="text-center">
      <%= @course.title %>
    </h2>
    <div class="row">
      <div class="col-sm-4 col-12 text-center">
        <%= image_tag @course.image, class: 'img-fluid course-image-border-shadow margin-below-course-image' %>
      </div>
      <div class="col-sm-8 col-12">
        <%= @course.description %>
        <span class="badge badge-pill badge-default">
          <% if @course.cost == 0 %>
            FREE
          <% else %>
            <%= "#{number_to_currency @course.cost}" %>
          <% end %>
        </span>

        <div class="bg-black">
<!-- Condition for instructor page access -->
          <% if current_user && current_user == @course.user %>
          <span class="badge badge-pill badge-success">
          <%= link_to 'Course Admin', instructor_course_path(@course) %>
          </span>
          <% end %>
<!-- END condition -->
        </div>
      </div>

        <div class="col-12 text-center">
          <% if current_user && current_user.enrolled_in?(@course) %>
            <h3 class="course-page-enrolled">You Are Enrolled!</h3>
          <% else %>
            <%= link_to 'Enroll Now!', course_enrollments_path(@course), class: 'btn btn-large btn-enroll', method: :post %>
          <% end %>
        </div>

    </div>

    <div class="col-12 flush-padding-with-title">
      <% @course.sections.each do |section| %>
        <div class="section">
          <h3 class="text-center">
            <%= section.title %>
          </h3>
          <div class="row">
            <% section.lessons.each do |lesson| %>
              <div class="col-12 col-lg-6">
                <div class="lesson text-center">

                  <%= link_to lesson_path(lesson) do %>
                    <b><%= lesson.title %></b>
                    <% if lesson.video.present? %>
                      <%= image_tag('video-play.png', size: '28x28', class: 'yellow-play-icon') %>
                    <% end %>
                    <hr />
                    <%= lesson.subtitle %>
                    <br />
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <br class="clr" />
        </div>
      <% end %>
    </div>
    <br />
  </div>
</div>
