<div class="container bg-gold">
  <div class="col-10 offset-1">
    <br />
    <div>
      <%= link_to '&laquo; Back to Courses'.html_safe, courses_path, class: 'bg-black' %>
    </div>
    <br />
    <h2 class="text-center">
      <%= @course.title %>
    </h2>
    <div class="row">
      <div class="col-sm-3 col-12 text-center">
        <span class="badge badge-pill badge-default">
          <% if @course.cost == 0 %>
            FREE
          <% else %>
            <%= "#{number_to_currency course.cost}" %>
          <% end %>
        </span>
        <div class="bg-black">
<!-- Condition for instructor page access -->
        <% if current_user && current_user == @course.user %>
        <span class="badge badge-pill badge-success">
        <%= link_to 'Course Admin', instructor_course_path(@course) %>
        </span>
        <% end %>
<!-- END condition -->
        </div>
      </div>
      <div class="col-sm-9 col-12">
        <%= @course.description %>
      </div>
    </div>
    <br />
  </div>
</div>
