<div class="navbar-nav">
  <% if !user_signed_in? %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-item nav-link' %>
    <span class="nav-link nav-separator">/</span>
    <%= link_to 'Log In', new_user_session_path, class: 'nav-item nav-link' %>
  <% else %>
    <span class="nav-item nav-link stop-it">&laquo; <%= current_user.email.split('@')[0] %> &raquo;</span>
    <%= link_to 'My Dashboard', dashboard_path, class: 'nav-item nav-link' %></span>
    <span class="nav-link nav-separator">/</span>
    <%= link_to "Log out".html_safe, destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
  <% end %>
</div>
