<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.17.0/video-js.css" rel="stylesheet">
  </head>

  <body>

    <div id="flex-content-container">

        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#flix-cap-toggle" aria-controls="flix-cap-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= link_to root_path do %>
          <h1 class="navbar-brand mb-0">Flix-Capacitor</h1>
          <% end %>
          <div class="collapse navbar-collapse" id="flix-cap-toggle">
            <div class="navbar-nav mr-auto">
              <%= link_to 'See All Courses', courses_path, class: 'nav-item nav-link' %>
            </div>

            <%= render 'layouts/user_nav' %>

          </div>
        </nav>

      <!-- <div class="container"> -->

        <%= render "layouts/flash" %>

        <%= yield %>

      <!-- </div> -->

    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <span class="footer-lead">Teachers</span>
            <%= link_to 'Teach a Course', new_instructor_course_path %>
            <br />
            <%= link_to 'View Dashboard', dashboard_path %>
          </div>
          <div class="col-12 col-md-3">
            <span class="footer-lead">About</span>
            <%= link_to 'Team', url: '#' %>
            <br />
            <%= link_to 'Careers', url: '#' %>
          </div>
          <div class="col-12 col-md-3">
            <span class="footer-lead">Contact</span>
            <%= link_to 'vaughn.weiss', url: '#' %>
            <br />
            <span class="footer-yellow">Seattle, WA</span>
          </div>
          <div class="col-12 col-md-3 social">
            <span class="footer-lead">Social</span>
            <%= link_to 'https://github.com/VonTeacher' do %>
              <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <% end %>
            <%= link_to 'https://medium.com/@vaughn.weiss' do %>
              <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
            <% end %>
            <%= link_to 'https://twitter.com/VonTeacher' do %>
              <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <script src="http://vjs.zencdn.net/5.17.0/video.js"></script>
    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  </body>

</html>
